{% extends 'base.html.twig' %}

{% block title %}Une Symfony de Recettes - Liste des ingrédients
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<h1>Liste des ingrédients</h1>

		<a href=" {{ path('ingredient.new' )}} " class="btn btn-info btn-sm">
			<i class="bi bi-plus-square"></i>
			Ajouter un ingrédient</a>

		{# read and display just one flash message type #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		{# knp_paginator - total items count #}
		<div class="count text-secondary mt-4">
			<h5 class="lead">Il y a
				{{ ingredients.getTotalItemCount > 0 ? ingredients.getTotalItemCount : '0' }}
				ingrédient{{ ingredients.getTotalItemCount > 1 ? 's' : '' }}
				au total
			</h5>
		</div>

		{% if ingredients.getTotalItemCount > 0 %}

			<table class="table table-hover table-sm">
				<thead>
					<tr>
						<th style="width: 10%;">Numéro</th>
						<th style="width: 40%;">Nom</th>
						<th style="width: 20%;">Prix</th>
						<th style="width: 20%;">Date</th>
						<th style="width: 10%;">Action</th>
					</tr>
				</thead>
				<tbody>

					{% for ingredient in ingredients %}

						<tr class="table-light">
							<th scope="row">{{ ingredient.id }}</th>
							<td>{{ ingredient.name|capitalize }}</td>
							<td>{{ ingredient.price }}
								€</td>
							<td>{{ ingredient.createdAt|date("d/m/Y") }}</td>
							<td>
								<a href="{{ path('ingredient.edit', {id: ingredient.id}) }}" type="button" class="btn btn-sm btn-warning">
									<i class="bi bi-pencil"></i>
								</a>
								<a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" type="button" class="btn btn-sm btn-danger">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>						

					{% endfor %}

				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(ingredients) }}
			</div>

		{% endif %}

	</div>

{% endblock %}
